# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.env.*
!.env.example
.venv/
env/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Custom
*.log

.webui_secret_key

# Ignore model files
models/*
